*{
    box-sizing: border-box;
}
/* Element Selector   : (0,0,1)  001 */
ul{
    color: red;
    font-size: 24px;
}
li{
    color: green;
}
a{
    color: yellow;
}

/* (0,1,0)   : 010 */
/* Class Selector */
.list3{
    color: darkslategrey !important;
}


/* (1,0,0)  : 100 */
#id1{
    color: chocolate;
}

/* How to Break CSS Rule : 
!important 
*/

